// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #39415F;
$yellow: #F0B523;
$orange: #F7650D;
$green: #00A699;
$emerald: #4CC583;
$light-gray: #F5F5F5;
$gray: #8D8D8D;
$vulcan: #37383C;
$white-smoke: #F5F5F5;
$white: #FFFFFF;
