<h1>Chalets#new</h1>
<p>Find me in app/views/chalets/new.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Nouveau chalet</h1>
      <%= render 'form', chalet: @chalet %>
     </div>
  </div>
</div>
