<div>
  <%= link_to chalets_path do %>
    <span class="btn btn-primary">Voir les autres chalets</span>
  <% end %>
</div>
<div class="chalet-layout">
  <% img_url = "http://res.cloudinary.com/dygmbrr3a/image/upload/" + @chalet.photos.first.path %>
  <div class="banner-photo" style="background-image: url('<%= img_url %>');">
  </div>
  <div class="chalet-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
      </div>
    </div>
  </div>
  <div class="booking-container">
  </div>
</div>



</div>

