<div class="container">

<h1><%= @chalet.name %></h1>
<p><%= @chalet.location %></p>




<!-- Photos avec Attachinary ci-dessous -->

<div class="banner-photo">
  <% @chalet.photos.each do |photo| %>
    <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
  <% end %>
</div>

<div>
  <%= link_to chalets_path do %>
    <span class="btn btn-primary">Voir les autres chalets</span>
  <% end %>
</div>

<div class="wrapper">
  <div class="container">
    <div class="description"></div>
    <div class="form"></div>
  </div>
</div>



</div>

