<% if @booking.user_id == current_user.id %>
  <h1>Your next trip</h1>
  <%= link_to "Retour à mes commandes" ,bookings_path%>
  <h2>
    <%= @booking.chalet.name %>
  </h2>

<% end %>


<% if @chalet.user_id ==  current_user.id %>
  <h1>Your reservation </h1>
  <%= link_to "Retour à mes commandes" ,bookings_path%>
  <h2>
    <%= @booking.chalet.name %>
  </h2>
<% end %>

