 <!-- Copy/paste your banner here -->
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url(<%= image_path "background-landing.png"%>)">
    <div class="banner-content">
      <h1>Welcome to Paradise.</h1>
      <p>Find a bed in unique Cabins all accross the French Alps.</p>
      <a href="" class="btn btn-medium">Book now !</a>
    </div>
  </div>
        <!-- Code your cards  here -->