
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url(<%= image_path "background-landing.png"%>)">
    <div class="banner-content">
      <h1>Welcome to Paradise.</h1>
      <p>Find a bed in unique Cabins all accross the French Alps.</p>
      <div></div>
   <form role="search" style="width: 15em; margin: 0.3em 2em;">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
</form>

<a href="/chalets" class="btn btn-medium">Book now !</a>
  </div>
  </div>
        <!-- Code your cards  here -->

<!--If user sign in -->

<!-- Pour la barre de recherche : plutôt form for que simple form for  -->

<!-- If user sign out -->

